<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ExoAspMvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ExoAspMvc.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles",required:false) 
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark bg-opacity-50 border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/images/LogoArbre.png" alt="Alternate Text" width="100" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ms-5">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-white  bg-dark bg-opacity-50 rounded-2 m-2 " asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white  bg-dark bg-opacity-50 rounded-2 m-2"  asp-controller="Contact" asp-action="Index">Contact</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white  bg-dark bg-opacity-50 rounded-2 m-2" asp-controller="Auth" asp-action="Details" asp-route-id="@ViewContext.HttpContext.Session.GetInt32("Id")">UserDetails</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white  bg-dark bg-opacity-50 rounded-2 m-2" asp-controller="Chat" asp-action="Index">Chat</a>
                        </li>


                        <li class="nav-item me-0 ms-auto">
                        <li class="nav-item me-0 ms-auto">
                                @if (ViewContext.HttpContext.Session.GetString("Role") != null)
                                {
                                    <img width="50" height="50" src="https://img.icons8.com/bubbles/50/login-rounded-right.png" alt="login-rounded-right" />
                                }
                                else
                                {
                                    <img width="50" height="50" src="https://img.icons8.com/clouds/100/logout-rounded.png" alt="logout-rounded" />  
                                }

                        </li>
                            @if (ViewContext.HttpContext.Session.GetInt32("Role") != null)
                            {
                            <a type="button" class="btn btn-primary" asp-controller="Auth" asp-action="Logout">
                                Logout
                            </a>
                            }
                            else
                            {
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Login
                            </button>
                            }
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ExoAspMvc - <a asp-area="" asp-controller="Home" asp-action="Error">Informations</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <li class="dropdown-item">
                <a class="nav-link text-dark" asp-controller="Auth" asp-action="Login">Login</a>
            </li>

            <li class="dropdown-item">
                <a class="nav-link text-dark" asp-controller="Auth" asp-action="Register">Register</a>
            </li>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
