<h1 class="text-center">Contact</h1>

<div class="bg-transparent align-align-center text-center  m-auto">
    voici une brève presentation de la personne : 
    <div class="bg-dark bg-opacity-50 text-center text-white align-center w-25 m-auto rounded-2">
   <p>Nom : Boualem</p>
   <p>Prenom : Zachary</p>
    <p>Adresse : Nivelles </p>
    </div>

</div>

<div class="w-75 bg-dark bg-opacity-50 align-align-center text-center m-auto rounded-2">

    <table class="table table-bordered  bg-light  w-75 align-content-center m-auto rounded-2">
       <tr>
        <th >Id</th>
        <th >Name</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
        
        //foreach user
    <tr>
        <td>user id</td>
        <td>user name</td>
        <td>user email</td>
        <td>user role</td>

        <td >
                <button class="btn btn-danger m-3 rounded-2">edit</button>
                <button class="btn btn-danger m-3 rounded-2">Delete</button>
        </td>

    </tr>

</table>

</div>