<h1 class="text-center">Login</h1>

<div class="text-center w-50 m-auto align-center bg-dark bg-opacity-50 rounded-2">

    <div class="bg-transparent align-center rounded-2">
    <label class="w-50" id="email">Email</label>
    <input class="w-50" id="email" value="Your Mail"  type="text" />

    <label class="w-50" id="password"> Password</label>
     <input class="w-50" id="password" value="password" type="password" />
    </div>
     
     <div class="align-center p-3">
        <button class="btn btn-danger m-2">Login</button>
        <button class="btn btn-danger m-2">forget info</button>
        <button class="btn btn-danger m-2" >register</button>
     </div>

</div>