<h1 class="text-center"> Register</h1>

<div class="text-center bg-dark bg-opacity-50 align-center w-50 m-auto text-white rounded-2">

    <form onsubmit="AddUser">

        <div class="bg-transparent align-center w-75 align-center m-auto rounded-2">
        <label class="w-50" id="Firstname">Firstname</label>
        <input class="w-50" id="Firstname" type="text" />

        <label class="w-50" id="Lastname">Lastname</label>
        <input class="w-50" id="Lastname" type="text" />

        <label class="w-50" id="email">Email</label>
        <input class="w-50" id="email" type="text" />

        <label class="w-50" id="password">Password</label>
        <input class="w-50" id="password" type="password" />
        </div>

        <button class="w-25 btn btn-danger align-center m-3 rounded-2">Submit</button>

    </form>

</div>

