

<div class="text-center">

    <h1>Asp MVC</h1>

    <div>
        <h3>Menu</h3>

        <div>
            Bienvenu sur le menu de presentation
        </div>

    </div>

    <div>
        <img src="./images/3271236_481602-PH02WC-347.jpg" alt="Productivity images" width="500" />
    </div>
</div>
