

<div class="text-center">

    <h1>Asp MVC</h1>

    <div>
        <h3>Menu</h3>

        <div>
            Bienvenu sur le menu de presentation
        </div>

   </div>

    <div>

        <p>@ViewContext.HttpContext.Session.GetInt32("Id")</p>
        <p>Bienvenue @ViewContext.HttpContext.Session.GetString("Pseudo")</p>
        <p>Bienvenue @ViewContext.HttpContext.Session.GetString("Role")</p>
        <p>Bienvenue @ViewContext.HttpContext.Session.</p>

        <p>UserAccount</p>
        <p>john.doe@example.com</p>
        <p>Test1234=</p>
        
        

    </div>

    <div>
        <img src="./images/3271236_481602-PH02WC-347.jpg" alt="Productivity images" width="500" />
    </div>

